@font-face {
  font-family: "ABC Favorit";
  src: url("https://assets.gumroad.com/packs/static/e4bac9369f6c1cf16e10.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ABC Favorit";
  src: url("https://assets.gumroad.com/packs/static/05b334edeed36071e337.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ABC Favorit";
  src: url("https://assets.gumroad.com/packs/static/cb28e975c9733636c320.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ABC Favorit";
  src: url("https://assets.gumroad.com/packs/static/d3d4f876c712a2e142da.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

:root {
  font-family: "ABC Favorit", Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;

  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: #eae5ec;
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  --accentColor: #5eead4;
  --backgroundColor: #0a0e17;
  --vh: 100vh;
  --vh: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ABC Favorit", Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: var(--accentColor);
}

main {
  opacity: 1;
  transition: 0.3s;
}

.main-active {
  opacity: 0;
  animation: fadeIn 1s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  height: auto;
  background-color: #050810;
  flex-grow: 1;
  --cWidth: calc(100% - 30px);
  --cMaxWidth: 1920px;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
}

#smooth-wrapper,
#smooth-content {
  display: block;
  width: 100%;
}

#smooth-wrapper {
  overflow: auto;
}

#smooth-content {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  #smooth-wrapper {
    overflow: auto;
    height: auto;
  }
}

.main-body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container-main {
  width: 100%;
  margin: auto;
  position: relative;
}

.container1 {
  width: var(--cWidth);
  height: var(--vh);
  margin: auto;
  position: relative;
}

.split-line {
  overflow: hidden;
}

.split-h2 {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.techstack {
  width: 100%;
  position: relative;
  overflow: clip;
  height: var(--vh);
  margin: auto;
  margin-top: 50px;
  margin-bottom: -100px;
}

.techstack h2 {
  font-size: 80px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 120px;
  left: 0;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  body {
    --cWidth: 94%;
  }
}

@media screen and (max-width: 900px) {
  .techstack h2 {
    font-size: 40px;
  }
}